# This file specifies intentionally untracked files that all Server-Backup git
# repositories should ignore. It is recommended not to modify this file in your
# local clone. Instead, use .git/info/exclude and add new records there as
# needed.
#
# See gitignore(5) man page for more details
#
/config/
/data/
/sample/
/lib/s3/aws-php/config.inc.php
/log/
last_email.eml
last_status
last_backup.log
last_snapshot.log
*.sublime-project
*.sublime-workspace
.s3.cfg
